<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <div id="app">
        <div v-if="showBook">
            <p>{{title}}</p>
            <p>{{author}}</p>
            <p>{{age}}</p>
        </div>
      
       <button v-on:click ="age++">add one more age</button>
       <button v-on:click="author='zhiyong'">Change name</button>
       <button v-on:click="changeTitle ('hello world') ">Change Title</button>
       <button><span v-if="showBook">Hide books</span>
        <span v-if="!showBook">show book</span>
      <span>

      </span></button>
       <button v-on:click='hidebook'>hidebook</button>
    </div>
    <script src="app.js"></script>
</body>
</html>